/* src/styles/Products.module.css */

.container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}

.logo {
  width: 150px; /* Increased logo width */
  height: 150px; /* Increased logo height */
  border-radius: 50%;
  object-fit: cover; /* Ensure the image covers the entire element without losing aspect ratio */
}

.title {
  font-size: 1.5rem; /* Decrease title font size */
  margin-top: 10px;
  margin-bottom: 20px;
}

.searchBox {
  width: 100%;
  max-width: 300px;
  padding: 10px;
  font-size: 1rem;
  margin-bottom: 20px;
}

.nav {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  flex-wrap: wrap; /* Allow wrapping on small screens */
}

.tab {
  padding: 5px 10px;
  cursor: pointer;
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 4px;
  margin: 5px 10px;
  font-size: 0.9rem; /* Make the font size smaller */
}

.activeTab {
  background-color: #005bb5;
}

.content {
  margin-top: 20px;
}

.productList {
  display: flex;
  flex-direction: column; /* Change to column for mobile screens */
  gap: 20px;
}

.productCard {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%; /* Full width on mobile screens */
  box-sizing: border-box;
}

.productName {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.productImage {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.productPrice {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.productQuantity {
  display: flex;
  align-items: center;
  gap: 10px;
}

.quantityButton, .addButton {
  padding: 5px 10px;
  border: none;
  background-color: #0070f3;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

.addButton {
  margin-left: 10px;
}

.aboutUs {
  padding: 20px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.basketContainer {
  padding: 20px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.basketList {
  list-style: none;
  padding: 0;
}

.basketItem {
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.total {
  margin-top: 15px;
  font-size: 1.5rem;
  font-weight: bold;
}

.exportButton {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}

.exportButton:hover {
  background-color: #005bb5;
}

/* Media Queries for Responsive Design */
@media (min-width: 600px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
  }

  .title {
    margin: 0;
  }

  .searchBox {
    margin: 0;
  }

  .productList {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .productCard {
    width: calc(33.333% - 20px);
  }
}
